/* 
-- MePlusMore Custom CSS
-- Author: Gundog Creative / hello@gundogcreative.com
-- Version: 1.0
*/




/* TABLE OF CONTENTS

0.1 -- HTML/BODY 
0.2 -- TYPOGRAPHY
0.3 -- BASE STRUCTURE
0.4 -- BUTTONS
0.5 -- FORMS 

1.0 -- HEADER
1.1 -- HERO
1.2 -- CONTENT
1.3 -- FOOTER

2.0 -- HOME
2.1 -- FEATURES
2.2 -- WHY
2.3 -- PRESS
2.4 -- CONTACT
2.5 -- GOLD

END OF TABLE OF CONTENTS */




/* 0.1 -- HTML/BODY */

html {}
body {font-family:'Archer Light', serif;font-size:14px;}




/* 0.2 -- TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {font-family:'Archer Medium', serif;}

h1 {font-size:42px;line-height:50px;}
h2 {font-size:38px;line-height:46px;}
h3 {font-size:32px;line-height:40px;}
h4 {font-size:27px;line-height:33px;}
h5 {font-size:22px;line-height:28px;}
h6 {font-size:18px;line-height:23px;}

ul {}
ul li {}
ol {}
ol li {}

p {font-family:'Gotham Light', sans-serif;font-size:14px;color:#8b8e8f;}

a {}
a:hover {}

.meplusmore {font-family:'Gotham Book';letter-spacing:-.02em;}
.meplusmore span {font-family:'Gotham Medium';}

.sectionHeading {font-family:'Archer Medium', serif;text-align:center;margin:0 0 70px;padding:0 2.5%;}
.sectionHeading strong {font-family:'Archer Semibold', serif;}

.sectionSubHeading {font-family:'Archer Medium', serif;text-align:center;margin:-60px 0 40px;padding:0 7.5%;}




/* 0.3 -- BASE STRUCTURE */

#header, #hero, #content, #footer {display:inline-block;width:100%;clear:both;}

.content-section {padding:100px 0;display:inline-block;width:100%;clear:both;}




/* 0.4 -- BUTTONS */

.btn {font-family:'Gotham Book';padding:10px 16px;border-radius:3px;-webkit-border-radius:3px;}

.btn-success {
  background-color: #49d263;
  border-color: #49d263;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #35cd51;
  border-color: #2eba49;
}
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: #49d263;
  border-color: #49d263;
}




/* 0.5 -- FORMS */

.form-control {height:42px;font-family:'Gotham Book';}





/* 1.0 -- HEADER */

#header {background-color:#1f294c;position:fixed;top:0;z-index:9999;}

#header.alt {position:static;display:inline-block;}

#header #nav {display:inline-block;clear:both;width:100%;padding:14px 0;}

#header #nav #brand {display:inline-block;float:left;}
#header #nav #brand a {color:#fff;}
#header #nav #brand a:hover {text-decoration:none;}
#header #nav #brand span {font-size:28px;}

#header #nav #mobileNavControl {float:right;color:#fff;font-size:31px;}

#header #nav #menu {display:inline-block;float:right;}
#header #nav #menu ul {margin:9px 0 0;padding:0;}
#header #nav #menu ul li {display:inline;color:#f2f4f6;margin-left:14px;font-family:'Archer Light';font-size:18px;}
#header #nav #menu ul li i {font-size:16px;margin-left:10px;}
#header #nav #menu ul li.divider {}
#header #nav #menu ul li a {color:#f2f4f6;}
#header #nav #menu ul li a:hover {color:#fff;}
#header #nav #menu ul li.active {font-family:'Archer Semibold';}
#header #nav #menu ul li.active a {text-decoration:underline;}
#header #nav #menu ul li.active a:hover {}

@media (max-width:992px) and (min-width:768px) {
  #header #nav #menu ul {margin:10px 0 0;}
  #header #nav #menu ul li {font-size:15px;}
}

@media (max-width:767px) {
  #header #nav {padding-bottom:4px;}
  #header #nav #menu {float:left;width:100%;}
  #header #nav #menu ul {text-align:center;margin:12px 0 0;}
  #header #nav #menu ul li {display:block;margin:0;}
  #header #nav #menu ul li.divider {display:none;}
  #header #nav #menu ul li a {display:block;border-top:1px solid #1b2442;padding:9px 0;}
  #header #nav #menu ul li a:hover {background-color:#19213d;}
}




/* 1.1 -- HERO */

#hero {margin:65px 0 0;padding:190px 0 275px;text-align:center;background-color:transparent;}

#hero.alt {margin:0;}

#hero h1 {font-size:42px;color:#fff;}
#hero h3 {font-size:25px;line-height:32px;color:#f2f4f6;}

@media (max-width:992px) {
  #hero {padding:150px 0 225px;}
  #hero h3 br {display:none;}
}




/* 1.2 -- CONTENT */

#content {background-color:#f2f4f6;}




/* 1.3 -- FOOTER */

#footer {background-color:#313133;color:#fafafa;display:block;clear:both;width:100%;padding:24px 0 18px;}
#footer p {color:#fff;}

#footer #links {text-align:right;}
#footer #links ul {margin:0;padding:0;}
#footer #links ul li {display:inline;margin-left:8px;}
#footer #links ul li a {color:#fafafa;}
#footer #links ul li a:hover {color:#fff;text-decoration:underline;}

@media (max-width:992px) {
  #footer {text-align:center;}
  #footer #links {text-align:center;}
}




/* 2.0 -- HOME */

#header.home {background-color:transparent;position:absolute;}

#header.home #nav #brand span {font-size:42px;}

#header.home #nav #menu ul li {font-size:22px;}
#header.home #nav #menu ul li a i {font-size:18px;}

@media (max-width:767px) {
  #header.home #nav #brand span {font-size:34px;}
  
  #header.home #nav #menu {width:auto;float:right;}
  #header.home #nav #menu ul {text-align:right;margin:0;}
  #header.home #nav #menu ul li {display:inline-block;font-size:18px;}
  #header.home #nav #menu ul li a {display:inline-block;border:none;}
  #header.home #nav #menu ul li a i {font-size:15px;}
  #header.home #nav #menu ul li a:hover {background-color:transparent;}
}

@media (max-width:480px) {
  #header.home #nav #brand span {font-size:24px;}
  
  #header.home #nav #menu {margin-top:-2px;}
  #header.home #nav #menu ul li {font-size:14px;}
  #header.home #nav #menu ul li a i {font-size:12px;}
}

#hero.home {margin:0;text-align:left;padding:220px 0 275px;}

#hero.home form {margin:30px 0 0;}
#hero.home form label {display:block;color:#fff;}
#hero.home form input {width:320px;display:inline-block;}
#hero.home form button {display:inline-block;padding:10px 36px;margin:24px 0 0;}

@media (max-width:991px) {
  #hero.home {padding:180px 0 220px;}
}

@media (max-width:767px) {
  #hero.home {padding:140px 0 170px;}
  #hero.home {text-align:center;}
  #hero.home form button {margin:0;width:320px;}
}

@media (max-width:480px) {
  #hero.home {padding:110px 0 140px;}
  #hero.home {text-align:center;}
  #hero.home form input {display:block;width:100%;}
  #hero.home form button {display:block;width:100%;}
}

#home-summary {background-color:#e3e8ea;text-align:center;}
#home-summary h4 {padding:0 6%;}

#home-overview {background-color:#f9f9f9;}
#home-overview h5 {margin:0 0 32px;color:#727575;}
#home-overview h6 {font-size:16px;color:#bcc0c1;margin:0 0 2px;}

#home-cta {background-color:#5cb3bb;text-align:center;}
#home-cta h3, #home-cta h5 {color:#fff;}






/* 2.1 -- FEATURES */

.features-page {}

#features-video {}
#features-video h3 {font-size:24px;line-height:32px;}
#features-video h3:first-child {margin-top:40px;}
#features-video a.btn {margin-top:20px;}

@media (max-width:992px) {
  #features-video {text-align:center;}
  #features-video a.btn {display:block;}
}

#features-list {background-color:#5cb3bb;color:#fff;}
#features-list p {font-family:'Archer Light', serif;font-size:20px;line-height:26px;margin:0 0 40px;color:#fff;}

#features-list .cta {text-align:center;margin:20px 0 0;}

@media (max-width:992px) {
  #features-list .cta a {display:block;}
}




/* 2.2 -- WHY */

#why-page {}

#why-use {}
#why-use h2 {color:#2a3766;}
#why-use p {margin-bottom:32px;}

#why-cta {background-color:#5cb3bb;text-align:center;}
#why-cta h3, #why-cta h5 {color:#fff;}




/* 2.3 -- GOLD */

#gold-page {}

#gold-features {}
#gold-features h5 {color:#2a3766;}
#gold-features p.subHead {text-align:center;margin:-30px 0 50px;padding:0 120px;}

@media (max-width:991px) {
  #gold-features p.subHead {padding:0;}
}

.features-table {display:inline-block;width:100%;}

.features-table ul {margin:0;padding:8px;list-style:none;}
.features-table ul li {font-size:18px;margin:10px 0;}
.features-table ul li.heading {font-size:24px;font-family:'Archer Medium', serif;height:60px;margin-bottom:20px;}
.features-table ul li.action {margin:20px 0 0;}

.features-table .feature-list {display:inline-block;width:50%;float:left;}

.features-table .gold-checks {display:inline-block;width:30%;float:left;text-align:center;background-color:#fff;border:1px solid #bcc0c1;border-radius:2px;-webkit-border-radius:2px;box-shadow:0px 0px 10px 2px rgba(0,0,0,.1);-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,.1);}
.features-table .gold-checks ul li {color:#49d263;}
.features-table .gold-checks ul li.heading {color:#2a3766;}

.features-table .free-checks {display:inline-block;width:20%;float:left;text-align:center;}
.features-table .free-checks ul li {color:#49d263;opacity:.8;}
.features-table .free-checks ul li.heading {color:#333;}

@media (min-width:1200px) {
  .features-table {padding:0 230px;}
}

@media (max-width:1199px) {
  .features-table {padding:0 140px;}
}

@media (max-width:991px) {
  .features-table {padding:0 50px;}
}

@media (max-width:767px) {
  .features-table {padding:0 30px;}
  .features-table ul li {font-size:15px;}
  .features-table ul li.heading {font-size:18px;height:50px;}
}

@media (max-width:480px) {
  .features-table {padding:0 0;}
  .features-table ul li {font-size:12px;}
  .features-table ul li.heading {font-size:14px;height:50px;}
  .features-table .feature-list {width:55%;}
  .features-table .gold-checks {width:30%;}
  .features-table .free-checks {width:15%;}
}


#gold-list {background-color:#5cb3bb;color:#fff;}
#gold-list .row p {margin-bottom:32px;color:#fff;}
#gold-list .center {text-align:center;}
#gold-list h3.center {margin:65px 0 30px;}

#gold-connect {text-align:center;background-color:#5cb3bb;color:#fff;}
#gold-connect h6 {font-size:16px;}

@media (max-width:767px) {
  #gold-connect .btn {display:block;}
}




/* 2.4 -- WHY */

#why-page {}

#why-list {}
#why-list h3 {color:#2a3766;}
#why-list p {margin-bottom:32px;}













/* 4.0 ---------- FONT-FACE ---------- */

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Rounded-Medium.eot');
    src: url('../fonts/Gotham-Rounded-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Rounded-Medium.woff') format('woff'),
         url('../fonts/Gotham-Rounded-Medium.ttf') format('truetype'),
         url('../fonts/Gotham-Rounded-Medium.svg#Gotham-Rounded-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Rounded-Book.eot');
    src: url('../fonts/Gotham-Rounded-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Rounded-Book.woff') format('woff'),
         url('../fonts/Gotham-Rounded-Book.ttf') format('truetype'),
         url('../fonts/Gotham-Rounded-Book.svg#Gotham-Rounded-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archer Semibold';
    src: url('../fonts/Archer-Semibold.eot');
    src: url('../fonts/Archer-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Archer-Semibold.woff') format('woff'),
         url('../fonts/Archer-Semibold.ttf') format('truetype'),
         url('../fonts/Archer-Semibold.svg#Archer-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archer Medium';
    src: url('../fonts/Archer-Medium.eot');
    src: url('../fonts/Archer-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Archer-Medium.woff') format('woff'),
         url('../fonts/Archer-Medium.ttf') format('truetype'),
         url('../fonts/Archer-Medium.svg#Archer-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archer Light';
    src: url('../fonts/Archer-Light.eot');
    src: url('../fonts/Archer-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Archer-Light.woff') format('woff'),
         url('../fonts/Archer-Light.ttf') format('truetype'),
         url('../fonts/Archer-Light.svg#Archer-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* 4.1 -------- SOCIAL BUTTONS -------- */

.btn-linkedin {
  background-color: #007bb6;
  border-color: #007bb6;
  color:#fff;
}
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active {
  background-color: #006a9d;
  border-color: #005983;
  color:#fff;
}
.btn-linkedin.disabled:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin.disabled:active,
.btn-linkedin.disabled.active,
.btn-linkedin[disabled]:hover,
.btn-linkedin[disabled]:focus,
.btn-linkedin[disabled]:active,
.btn-linkedin[disabled].active,
fieldset[disabled] .btn-linkedin:hover,
fieldset[disabled] .btn-linkedin:focus,
fieldset[disabled] .btn-linkedin:active,
fieldset[disabled] .btn-linkedin.active {
  background-color: #007bb6;
  border-color: #007bb6;
  color:#fff;
}

.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color:#fff;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
  background-color: #344e86;
  border-color: #2d4373;
  color:#fff;
}
.btn-facebook.disabled:hover,
.btn-facebook.disabled:focus,
.btn-facebook.disabled:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled]:hover,
.btn-facebook[disabled]:focus,
.btn-facebook[disabled]:active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook:hover,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook:active,
fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #3b5998;
  color:#fff;
}

.btn-twitter {
  background-color: #00aced;
  border-color: #00aced;
  color:#fff;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active {
  background-color: #0099d4;
  border-color: #0087ba;
  color:#fff;
}
.btn-twitter.disabled:hover,
.btn-twitter.disabled:focus,
.btn-twitter.disabled:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled]:hover,
.btn-twitter[disabled]:focus,
.btn-twitter[disabled]:active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter:hover,
fieldset[disabled] .btn-twitter:focus,
fieldset[disabled] .btn-twitter:active,
fieldset[disabled] .btn-twitter.active {
  background-color: #00aced;
  border-color: #00aced;
  color:#fff;
}




